.add-product {
  padding-top: 13px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 38px;
    padding-right: 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.add-product__subtitle {
  margin: 0;
  margin-bottom: 13px;

  @include font(16px, 16px);
  color: $special_dark-grey-2;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 202px;
  }
}

.add-product__info {
  @include font(14px, 14px);
  font-family: $arial;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    min-width: 223px;
  }

  @media (min-width: $desktop-width) {
    min-width: 286px;
    margin-left: 82px;
  }
}

.add-product__amount {
  @media (min-width: $tablet-width) {
    min-width: 132px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.add-catalog__item:nth-child(2) .add-product__price {
  padding-right: 8px;
}

.add-product__link {
  @include button;
  @include font(16px, 16px);

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    max-width: 244px;
  }
}
