.add-product {
  padding-top: 13px;
  padding-bottom: 20px;
  border-top: 1px solid $special_grey;
  border-bottom: 1px solid $special_grey;
}

.add-product__subtitle {
  margin: 0;
  margin-bottom: 13px;

  @include font(16px, 16px);
  color: $special_dark-grey-2;
  font-weight: 400;
  text-transform: uppercase;
}

.add-product__info {
  @include font(14px, 14px);
  font-family: $arial;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.add-product__link {
  @include button;
  @include font(16px, 16px);
}
