.add-product__subtitle {
  margin: 0;

  @include font(16px, 16px);
  color: $special_dark-grey-2;
  font-weight: 400;
  text-transform: uppercase;
}

.add-product__info {
  @include font(14px, 14px);
  font-family: $arial;
}

.add-product__link {
  @include button;
  @include font(16px, 16px);
}
