.add-catalog {
  overflow: hidden;
}

.add-catalog__wrapper {
  @include wrapper;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.add-catalog__title-block {
  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.add-catalog__title {
  margin: 0;
  margin-top: 28px;
  margin-bottom: 35px;

  @include font(24px, 24px);
  color: $basic_black;
  font-weight: 400;

  @include title-line;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.add-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    max-width: 895px;
  }
}

.add-catalog__item:first-child {
  border-top: 1px solid $special_grey;
}

.add-catalog__item {
  border-bottom: 1px solid $special_grey;

  @media (min-width: $tablet-width) {
    border-left: 1px solid $special_grey;
    border-right: 1px solid $special_grey;
  }

  @media (min-width: $desktop-width) {
    border-left: none;
    border-right: none;
  }
}

.add-catalog__promo {
  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
