.add-catalog__wrapper {
  @include wrapper;
}

.add-catalog__title {
  margin: 0;
  margin-top: 28px;
  margin-bottom: 35px;

  @include font(24px, 24px);
  color: $basic_black;
  font-weight: 400;
}

.add-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
