.advantages__wrapper {
  @include wrapper;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-top: -8px;
  }
}

.advantages__title {
  margin: 0;
  padding-left: 71px;
  margin-bottom: 30px;
  color: $basic-black;
  font-weight: 400;
  text-transform: uppercase;

  @include font(24px, 37px);

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 35%;
    margin-bottom: 73px;
  }
}

.advantages__item {
  position: relative;
  background-color: $basic-grey;
  margin-top: 22px;
  padding-top: 30px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 77px;
    padding-bottom: 57px;
    padding-left: 52px;
    padding-right: 279px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 46.7%;
    padding-right: 52px;
  }
}

.advantages__item:nth-child(2) {
  @media (min-width: $tablet-width) {
    padding-right: 312px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 52px;
  }
}

.advantages__logo-block {
  position: absolute;
  top: 24px;
  left: 22px;
  width: 50px;
  height: 50px;
  background-color: $basic-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    top: 92px;
    left: auto;
    right: 61px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }
}

.advantages__logo-block--weight-losing {
  &::after {
    position: absolute;
    left: 7px;
    bottom: 3px;
    content: "";
    width: 36px;
    height: 50px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    display: block;

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 192px;
      left: 30px;
      bottom: 18px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      left: 15px;
      bottom: 9px;
    }
  }
}

.advantages__logo-block--weight-gain {
  &::after {
    position: absolute;
    left: -9px;
    bottom: 11px;
    content: "";
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    display: block;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
      left: -35px;
      bottom: 45px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
      left: -19px;
      bottom: 24px;
    }
  }
}

.advantages__description {
  margin: 0;
  padding-bottom: 25px;
  font-family: $arial;
  border-bottom: 1px solid $special_grey-4;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: $basic_black;
    border-bottom: none;
    padding-bottom: 0;
  }
}

.advantages__link {
  position: relative;
  display: inline-block;
  color: $basic-black;
  text-transform: uppercase;
  margin-top: 15px;

  @include font(16px, 16px);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 29px;
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 97px;
    width: 32px;
    height: 10px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-size: 32px 10px;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 33%;
      left: 120%;
    }
  }

  &:hover {
    &::after {
      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }
}
