.base-catalog__wrapper {
  @include wrapper;
}

.base-catalog__title {
  @include font(36px, 36px);
  @include wrapper;
  font-weight: 400;
  color: $basic_black;
  border-bottom: 1px solid $special_grey-2;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 40px;
  margin: 0 -20px;
}

.base-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.base-catalog__item {
  border-bottom: 1px solid $special_grey-2;
  margin: 0 -20px;
}
