.contacts__wrapper {
  @include wrapper;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 22px;
}

.contacts__title {
  margin: 0;
  color: $special_black;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 17px;

  @include font (16px, 20px);
}

.contacts__address {
  font-family: $arial;
  font-style: normal;

  @include font(14px, 20px);
}
