.contacts-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.contacts-fieldset__legend {
  @include font(24px, 26px);
  color: $basic_black;
}

.contacts-fieldset__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts-fieldset__label {
  @include font(16px, 18px);
  text-transform: uppercase;
}

.contacts-fieldset__input {
  padding: 10px 0 10px 14px;

  @include font(16px, 18px);
  text-transform: uppercase;
  color: $special_dark-grey;
  border: 1px solid $input_grey;

  &::placeholder {
    color: $special_dark-grey;
    font-family: $oswald;
  }
}
