.more-products__title {
  @include font(16px, 20px);
  text-transform: uppercase;
  color: $special_black;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.more-products__text {
  @include font(12px, 16px);
  font-family: $arial;
  margin: 0;
  text-align: center;
}

.more-products__link {
  @include button--show-all;
  @include font(16px, 18px);
}
