.page-header--index {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
}

.page-header__wrapper {
  @include wrapper;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-header__logo-block {
  padding-top: 11px;
  padding-bottom: 12px;
  border-bottom: 1px solid $light_grey;
  margin: 0 -20px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 26px;
    margin: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.page-header__logo {
  @media (min-width: $desktop-width) {
    &:hover {
      .page-header__logo-img {
        opacity: 0.8;
      }
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.page-header__logo-img {
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
