.selection__wrapper {
  @include wrapper;
}

.selection__title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 35px;

  @include font(36px, 36px);
  color: $basic_black;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.selection__subtitle {
  margin: 0;
  margin-bottom: 40px;
  max-width: 226px;

  @include font(14px, 18px);
  color: $basic_black;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    max-width: 370px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}
