.selection__title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 35px;

  @include font(36px, 36px);
  color: $basic_black;
  font-weight: 400;
}

.selection__subtitle {
  margin: 0;
  margin-bottom: 40px;
  max-width: 226px;

  @include font(14px, 18px);
  color: $basic_black;
  font-weight: 400;
  text-transform: uppercase;
}
