.slider {
  @media (min-width: $desktop-width) {
    width: 690px;
  }
}

.slider__button {
  padding: 0;
  color: $basic-black;
  font-family: $oswald;
  text-transform: uppercase;
  border: none;
  background-color: transparent;

  @include font(16px, 20px);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dashed rgba($color: $basic-black, $alpha: 0.24);

    &:hover {
      border-bottom: 1px solid rgba($color: $basic-black, $alpha: 0.4);
    }

    &:active {
      border-bottom: none;
    }
  }
}

.slider__images {
  position: relative;
  margin: 0 auto;
  height: 240px;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 690px;
    min-height: 517px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -20px;
    margin-top: -14px;
  }
}

.slider__image {
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  transition: clip-path 1s;

  @media (min-width: $tablet-width) {
    width: 690px;
    height: 517px;
  }
}

.slider__image--before {
  clip-path: inset(0% 0% 0% 0%);

  @media (min-width: $tablet-width) {
    clip-path: inset(0% 50% 0% 0%);
    padding-left: 6px;
  }
}

.slider__image--after {
  clip-path: inset(0% 0% 0% 100%);

  @media (min-width: $tablet-width) {
    clip-path: inset(0% 0% 0% 50%);
  }
}

.slider__slider-controls {
  display: flex;
  justify-content: space-between;
  padding: 33px 60px;

  @media (min-width: $tablet-width) {
    align-items: center;
    padding: 16px 60px 70px 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 28px;
  }
}

.slider__toggle-scale {
  position: relative;
  width: 84px;
  height: 14px;
  padding: 0 3px;
  background-color: $basic_white;
  border-radius: 6px;
  border: 1px solid $special_grey;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    border: none;
    background-color: $special_grey-5;
  }
}

.slider__scale-button {
  border: none;
  background-color: $basic_green;
  width: 35px;
  height: 6px;
  display: block;
  border-radius: 6px;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: transform 1s;

  @media (min-width: $tablet-width) {
    top: -14px;
    left: 197px;
    width: 34px;
    height: 34px;
    background-color: $basic_white;
    border-radius: 50%;
    border: 1px solid $special_grey-5;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));

    &::after {
      content: "";
      width: 8px;
      height: 8px;
      background-color: $basic_green;
      display: block;
      position: absolute;
      border-radius: 50%;
      top: 12px;
      left: 12px;
    }

    &:hover {
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:active {
      filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
      border: 1px solid $basic_green;
    }
  }
}

.slider__toggle-scale--after .slider__scale-button {
  transform: translateX(41px);

  @media (min-width: $tablet-width) {
    transform: translateX(200px);
  }
}

.slider__toggle-scale--before .slider__scale-button {
  @media (min-width: $tablet-width) {
    transform: translateX(-200px);
  }
}
