.text-field {
  display: flex;
  align-items: center;
}

.text-field__label {
  @include font(16px, 18px);
  text-transform: uppercase;
  flex-shrink: 0;
  margin-right: 14px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.text-field__input {
  padding: 13px 15px;
  width: 100%;

  @include font(16px, 18px);
  text-transform: uppercase;
  color: $special_dark-grey;
  border: 1px solid $input_grey;

  &::placeholder {
    color: $special_dark-grey;
    font-family: $oswald;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 21px;
  }
}

.text-field__input--comment {
  resize: none;
  font-family: $oswald;
  padding-right: 12px;
  min-height: 150px;

  @media (min-width: $tablet-width) {
    min-height: 174px;
  }
}
