.weight-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.weight-fieldset__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.weight-fieldset__label {
  @include font(16px, 18px);
  text-transform: uppercase;
  color: $product_color;
}
