/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

/*Fonts*/
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

/*Global*/
img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.page__body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444; }

.page-header__wrapper {
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .page-header__wrapper {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .page-header__wrapper {
      padding-left: 110px;
      padding-right: 110px;
      max-width: 1440px;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    .page-header__wrapper {
      display: flex;
      justify-content: space-between; } }

.page-header__logo-block {
  padding-top: 11px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e6e6e6;
  margin: 0 -20px;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .page-header__logo-block {
      padding: 0;
      padding-top: 12px;
      margin: 0;
      border: none; } }

.page-header__logo-img {
  height: 38px; }
  @media (min-width: 768px) {
    .page-header__logo-img {
      width: 174px;
      height: 52px; } }
  @media (min-width: 1220px) {
    .page-header__logo-img {
      width: 202px;
      height: 59px; } }

.page-main__wrapper {
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .page-main__wrapper {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .page-main__wrapper {
      padding-left: 110px;
      padding-right: 110px;
      max-width: 1440px;
      margin: 0 auto; } }

.main-nav--closed .main-nav__toggle {
  position: absolute;
  top: 24px;
  right: 16px;
  width: 24px;
  height: 18px;
  background-image: url("../img/icon-mobile-menu.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none; }

.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: 24px;
  right: 16px;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-close.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none; }

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none; } }

.main-nav--nojs .main-nav__toggle {
  display: none; }

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none; } }

.main-nav--nojs .site-list__item {
  display: block; }

.site-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .site-list {
      display: flex; } }

.site-list__item {
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 22px;
  padding-bottom: 21px;
  margin: 0 -20px; }
  @media (min-width: 768px) {
    .site-list__item {
      border: none;
      text-align: left;
      margin: 0; } }

@media (min-width: 768px) {
  .site-list__item + .site-list__item {
    margin-left: 35px; } }

.site-list__item-link {
  color: #000000;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .site-list__item-link {
      font-size: 18px;
      line-height: 24px;
      font-weight: 400; } }
  @media (min-width: 1220px) {
    .site-list__item-link {
      font-size: 20px;
      line-height: 30px; } }

@media (min-width: 1220px) {
  .site-list--index .site-list__item-link {
    color: #ffffff; } }

@media (min-width: 768px) {
  .site-list__item-link--active {
    border-bottom: 2px solid #68b738;
    padding-bottom: 10px; } }

@media (min-width: 1220px) {
  .site-list--index .site-list__item-link--active {
    border-bottom: 2px solid #ffffff; } }

.program-offer {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 305px;
  padding-top: 27px;
  position: relative;
  overflow: hidden; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .program-offer {
      background-image: url("../img/index-background-mobile@2x.jpg"); } }
  @media (min-width: 768px) {
    .program-offer {
      background-image: none;
      padding-bottom: 530px; } }
  @media (min-width: 1220px) {
    .program-offer {
      padding-bottom: 275px;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: 720px 696px;
      background-position: right top;
      max-width: 1440px;
      margin: 0 auto;
      margin-top: -73px;
      z-index: -1; } }
  @media (min-width: 1220px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1220px) and (min-resolution: 2dppx) {
    .program-offer {
      background-image: url("../img/index-background-desktop@2x.jpg"); } }

.program-offer__wrapper {
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .program-offer__wrapper {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .program-offer__wrapper {
      padding-left: 110px;
      padding-right: 110px;
      max-width: 1440px;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    .program-offer__wrapper {
      padding-left: 83px; } }
  @media (min-width: 1220px) {
    .program-offer__wrapper {
      padding-left: 190px; } }

.program-offer__title {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-weight: normal; }
  @media (min-width: 768px) {
    .program-offer__title {
      font-size: 60px;
      line-height: 60px;
      color: #000000;
      text-align: left;
      max-width: 450px;
      margin-bottom: 40px; } }
  @media (min-width: 1220px) {
    .program-offer__title {
      margin-top: 111px; } }

.program-offer__motivation {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 768px) {
    .program-offer__motivation {
      color: #000000;
      font-size: 20px;
      line-height: 20px;
      text-align: left;
      margin-bottom: 49px; } }

.program-offer__img {
  display: block;
  margin: 23px auto 3px auto; }
  @media (min-width: 768px) {
    .program-offer__img {
      width: 709px;
      height: 609px;
      position: absolute;
      z-index: -1;
      bottom: 0; } }
  @media (min-width: 1220px) {
    .program-offer__img {
      width: 552px;
      height: 499px;
      right: 20%; } }

.program-offer__link {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  padding-top: 12px;
  padding-bottom: 11px;
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 18px; }
  @media (min-width: 768px) {
    .program-offer__link {
      font-size: 20px;
      line-height: 20px;
      max-width: 244px;
      padding: 17px 0; } }

.advantages__wrapper {
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .advantages__wrapper {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .advantages__wrapper {
      padding-left: 110px;
      padding-right: 110px;
      max-width: 1440px;
      margin: 0 auto; } }

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 1220px) {
    .advantages__list {
      display: flex;
      justify-content: space-between;
      margin-top: 82px; } }

.advantages__title {
  margin: 0;
  padding-left: 71px;
  margin-bottom: 30px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px; }
  @media (min-width: 768px) {
    .advantages__title {
      font-size: 36px;
      line-height: 36px;
      padding-left: 0;
      margin-bottom: 24px; } }
  @media (min-width: 1220px) {
    .advantages__title {
      padding-left: 35%;
      margin-bottom: 73px; } }

.advantages__item {
  position: relative;
  background-color: #f2f2f2;
  margin-top: 22px;
  padding-top: 30px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .advantages__item {
      padding-top: 77px;
      padding-bottom: 57px;
      padding-left: 52px;
      padding-right: 279px;
      margin-top: 0;
      margin-bottom: 30px; } }
  @media (min-width: 1220px) {
    .advantages__item {
      width: 46.7%;
      padding-right: 52px; } }

@media (min-width: 768px) {
  .advantages__item:nth-child(2) {
    padding-right: 312px; } }

@media (min-width: 1220px) {
  .advantages__item:nth-child(2) {
    padding-right: 52px; } }

.advantages__logo-block {
  position: absolute;
  top: 24px;
  left: 22px;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%; }
  @media (min-width: 768px) {
    .advantages__logo-block {
      width: 200px;
      height: 200px;
      top: 92px;
      left: auto;
      right: 61px; } }
  @media (min-width: 1220px) {
    .advantages__logo-block {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px; } }

.advantages__logo-block--weight-losing::after {
  position: absolute;
  left: 7px;
  bottom: 3px;
  content: "";
  width: 36px;
  height: 50px;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  display: block; }
  @media (min-width: 768px) {
    .advantages__logo-block--weight-losing::after {
      width: 140px;
      height: 192px;
      left: 30px;
      bottom: 18px; } }
  @media (min-width: 1220px) {
    .advantages__logo-block--weight-losing::after {
      width: 70px;
      height: 97px;
      left: 15px;
      bottom: 9px; } }

.advantages__logo-block--weight-gain::after {
  position: absolute;
  left: -9px;
  bottom: 11px;
  content: "";
  width: 67px;
  height: 28px;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  display: block; }
  @media (min-width: 768px) {
    .advantages__logo-block--weight-gain::after {
      width: 268px;
      height: 112px;
      left: -35px;
      bottom: 45px; } }
  @media (min-width: 1220px) {
    .advantages__logo-block--weight-gain::after {
      width: 134px;
      height: 56px;
      left: -19px;
      bottom: 24px; } }

.advantages__description {
  margin: 0;
  padding-bottom: 25px;
  font-family: arial, sans-serif;
  border-bottom: 1px solid #d9d9d9; }
  @media (min-width: 768px) {
    .advantages__description {
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      border-bottom: none;
      padding-bottom: 0; } }

.advantages__link {
  position: relative;
  display: inline-block;
  color: #000000;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 16px;
  line-height: 16px; }
  @media (min-width: 768px) {
    .advantages__link {
      font-size: 20px;
      line-height: 30px;
      margin-top: 52px; } }
  @media (min-width: 1220px) {
    .advantages__link {
      margin-top: 29px; } }
  .advantages__link::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 97px;
    width: 32px;
    height: 10px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-size: 32px 10px;
    background-repeat: no-repeat; }
    @media (min-width: 768px) {
      .advantages__link::after {
        top: 33%;
        left: 120%; } }

.working-process__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px; }
  @media (min-width: 768px) {
    .working-process__wrapper {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .working-process__wrapper {
      padding-left: 110px;
      padding-right: 110px;
      max-width: 1440px;
      margin: 0 auto; } }

.working-process__title {
  margin: 0;
  margin-bottom: 38px;
  padding-top: 29px;
  color: #000000;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400; }
  @media (min-width: 768px) {
    .working-process__title {
      font-size: 60px;
      line-height: 60px;
      padding-top: 0;
      margin-top: 45px;
      margin-bottom: 72px; } }

.working-process__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .working-process__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }

.working-process__item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: relative; }
  @media (min-width: 768px) {
    .working-process__item {
      align-items: flex-start;
      flex-direction: column;
      width: 45.7%;
      margin-bottom: 37px;
      padding-bottom: 97px; } }
  @media (min-width: 1220px) {
    .working-process__item {
      width: 245px; } }
  .working-process__item::before {
    content: "";
    display: block;
    margin-right: 20px;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat; }
    @media (min-width: 768px) {
      .working-process__item::before {
        width: 80px;
        height: 80px;
        margin-bottom: 31px; } }

.working-process__item--healthy::before {
  background-image: url("../img/advantage-leaf@1x.png");
  background-position: center; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .working-process__item--healthy::before {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px 50px; } }

@media (min-width: 768px) {
  .working-process__item--healthy::after {
    content: "";
    width: 71px;
    height: 227px;
    background-image: url("../img/1.png");
    position: absolute;
    z-index: -1;
    left: 39%; } }
  @media (min-width: 768px) and (min-width: 1220px) {
    .working-process__item--healthy::after {
      left: 52%; } }

.working-process__item--simplicity::before {
  background-image: url("../img/advantage-powder@1x.png");
  background-position: center; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .working-process__item--simplicity::before {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50px 50px; } }

@media (min-width: 768px) {
  .working-process__item--simplicity::after {
    content: "";
    width: 113px;
    height: 229px;
    background-image: url("../img/2.png");
    position: absolute;
    z-index: -1;
    left: 38%; } }
  @media (min-width: 768px) and (min-width: 1220px) {
    .working-process__item--simplicity::after {
      left: 49%; } }

.working-process__item--food::before {
  background-image: url("../img/advantage-dining@1x.png");
  background-position: center; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .working-process__item--food::before {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50px 50px; } }

@media (min-width: 768px) {
  .working-process__item--food::after {
    content: "";
    width: 112px;
    height: 232px;
    background-image: url("../img/3.png");
    position: absolute;
    z-index: -1;
    left: 38%; } }
  @media (min-width: 768px) and (min-width: 1220px) {
    .working-process__item--food::after {
      left: 50%; } }

.working-process__item--profit::before {
  background-image: url("../img/advantage-clock@1x.png");
  background-position: center; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .working-process__item--profit::before {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 50px 50px; } }

@media (min-width: 768px) {
  .working-process__item--profit::after {
    content: "";
    width: 121px;
    height: 227px;
    background-image: url("../img/4.png");
    position: absolute;
    z-index: -1;
    left: 38%; } }
  @media (min-width: 768px) and (min-width: 1220px) {
    .working-process__item--profit::after {
      left: 50%; } }

.working-process__item-text {
  margin: 0;
  font-family: arial, sans-serif; }
  @media (min-width: 768px) {
    .working-process__item-text {
      font-size: 16px;
      line-height: 24px;
      max-width: 260px; } }

.live-example {
  background-color: #eaeaea; }
  @media (min-width: 768px) {
    .live-example {
      background-color: #ffffff;
      background-image: linear-gradient(to top, #eaeaea 462px, #ffffff 462px); } }
  @media (min-width: 1220px) {
    .live-example {
      background-image: linear-gradient(to top, #f2f2f2 462px, #ffffff 462px); } }

@media (min-width: 1220px) {
  .live-example__info-block {
    width: 436px; } }

.live-example__slider {
  margin: 0 -20px; }
  @media (min-width: 768px) {
    .live-example__slider {
      margin: 0; } }
  @media (min-width: 1220px) {
    .live-example__slider {
      margin-left: auto; } }

.live-example__wrapper {
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .live-example__wrapper {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .live-example__wrapper {
      padding-left: 110px;
      padding-right: 110px;
      max-width: 1440px;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    .live-example__wrapper {
      display: flex;
      flex-wrap: wrap; } }

.live-example__title {
  margin: 0;
  padding-top: 27px;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  line-height: 40px; }
  @media (min-width: 768px) {
    .live-example__title {
      font-size: 60px;
      line-height: 60px; } }
  @media (min-width: 1220px) {
    .live-example__title {
      width: 100%; } }

.live-example__desc {
  margin: 0;
  margin-top: 33px;
  margin-bottom: 25px;
  font-family: arial, sans-serif; }
  @media (min-width: 768px) {
    .live-example__desc {
      font-size: 16px;
      line-height: 24px; } }
  @media (min-width: 1220px) {
    .live-example__desc {
      margin-top: 146px;
      margin-bottom: 69px; } }

@media (min-width: 768px) {
  .live-example__stats {
    display: flex; } }

@media (min-width: 1220px) {
  .live-example__stats {
    display: block; } }

.live-example__stats-items {
  display: flex;
  justify-content: space-between; }

.live-example__stats-item {
  position: relative;
  margin: 0;
  width: calc(50% - 16px);
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px; }
  @media (min-width: 768px) {
    .live-example__stats-item {
      width: 162px; } }

.live-example__stats-item:nth-child(2) {
  margin-left: 42px; }

.live-example__stats-value {
  display: block;
  color: #000000;
  text-transform: uppercase;
  padding: 15px 0;
  font-size: 24px;
  line-height: 24px; }
  @media (min-width: 768px) {
    .live-example__stats-value {
      font-size: 30px;
      line-height: 37px; } }

.live-example__stats-mark {
  padding: 0 16px;
  position: absolute;
  background-color: #eaeaea;
  color: #000000;
  font-family: arial, sans-serif;
  top: 88%;
  transform: translateX(-51%);
  font-size: 12px;
  line-height: 12px; }
  @media (min-width: 768px) {
    .live-example__stats-mark {
      font-size: 14px;
      line-height: 14px;
      background-color: #ffffff; } }

.live-example__cost {
  margin: 0;
  margin-top: 34px;
  text-align: center; }
  @media (min-width: 768px) {
    .live-example__cost {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: 0;
      margin-left: auto; } }
  @media (min-width: 1220px) {
    .live-example__cost {
      flex-direction: row;
      margin-top: 55px;
      justify-content: space-between; } }

.live-example__cost-mark {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .live-example__cost-mark {
      font-size: 20px;
      line-height: 20px; } }

.live-example__cost-value {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .live-example__cost-value {
      font-size: 20px;
      line-height: 20px; } }

@media (min-width: 1220px) {
  .slider {
    width: 690px; } }

.slider__button {
  padding: 0;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px; }
  @media (min-width: 768px) {
    .slider__button {
      font-size: 20px;
      line-height: 30px; } }

.slider__images {
  position: relative;
  margin: 0 auto;
  height: 240px;
  width: 320px; }
  @media (min-width: 768px) {
    .slider__images {
      width: 690px;
      height: 617px; } }

.slider__image {
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  transition: -webkit-clip-path 1s;
  transition: clip-path 1s;
  transition: clip-path 1s, -webkit-clip-path 1s; }
  @media (min-width: 768px) {
    .slider__image {
      width: 690px;
      height: 517px; } }

.slider__image--before {
  -webkit-clip-path: inset(0% 0% 0% 0%);
          clip-path: inset(0% 0% 0% 0%); }
  @media (min-width: 768px) {
    .slider__image--before {
      -webkit-clip-path: inset(0% 50% 0% 0%);
              clip-path: inset(0% 50% 0% 0%); } }

.slider__image--after {
  -webkit-clip-path: inset(0% 0% 0% 100%);
          clip-path: inset(0% 0% 0% 100%); }
  @media (min-width: 768px) {
    .slider__image--after {
      -webkit-clip-path: inset(0% 0% 0% 50%);
              clip-path: inset(0% 0% 0% 50%); } }

.slider__slider-controls {
  display: flex;
  justify-content: space-between;
  padding: 25px; }

.slider__toggle-scale {
  position: relative;
  width: 84px;
  height: 14px;
  padding: 0 3px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #cdcdcd; }
  @media (min-width: 768px) {
    .slider__toggle-scale {
      width: 428px;
      height: 6px;
      border: none;
      background-color: #dcdcdc; } }

.slider__scale-button {
  border: none;
  background-color: #68b738;
  width: 35px;
  height: 6px;
  display: block;
  border-radius: 6px;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: transform 1s; }
  @media (min-width: 768px) {
    .slider__scale-button {
      top: -14px;
      left: 197px;
      width: 34px;
      height: 34px;
      background-color: #ffffff;
      border-radius: 50%;
      border: 1px solid #dcdcdc;
      -webkit-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
              filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16)); }
      .slider__scale-button::after {
        content: "";
        width: 8px;
        height: 8px;
        background-color: #68b738;
        display: block;
        position: absolute;
        border-radius: 50%;
        top: 12px;
        left: 12px; } }

.slider__toggle-scale--after .slider__scale-button {
  transform: translateX(41px); }
  @media (min-width: 768px) {
    .slider__toggle-scale--after .slider__scale-button {
      transform: translateX(200px); } }

@media (min-width: 768px) {
  .contacts {
    padding-left: 41px;
    padding-right: 41px;
    padding-top: 37px;
    padding-bottom: 34px; } }

.contacts__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 22px; }
  @media (min-width: 768px) {
    .contacts__wrapper {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .contacts__wrapper {
      padding-left: 110px;
      padding-right: 110px;
      max-width: 1440px;
      margin: 0 auto; } }

.contacts__title {
  margin: 0;
  color: #111111;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 17px;
  font-size: 16px;
  line-height: 20px; }
  @media (min-width: 768px) {
    .contacts__title {
      font-size: 20px;
      line-height: 24px;
      width: 160px; } }

.contacts__address {
  font-family: arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px; }
  @media (min-width: 768px) {
    .contacts__address {
      font-size: 16px;
      line-height: 20px;
      width: 160px;
      text-align: end; } }

@media (min-width: 768px) {
  .contacts__city {
    display: block;
    margin-top: 20px; } }

.map {
  background-image: url("../img/bg-map-mobile@1x.png");
  height: 362px; }

.page-footer {
  background-color: #f2f2f2; }

.page-footer__wrapper {
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .page-footer__wrapper {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .page-footer__wrapper {
      padding-left: 110px;
      padding-right: 110px;
      max-width: 1440px;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    .page-footer__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center; } }

.page-footer__logo {
  display: block;
  padding-top: 39px;
  padding-bottom: 32px; }

.page-footer__logo-img {
  display: block;
  margin: 0 auto; }

.social {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  padding: 20px 0; }
  @media (min-width: 768px) {
    .social {
      border: none; } }

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.social__item {
  margin: 0 16px; }

@media (min-width: 768px) {
  .social__link--vkontakte svg {
    width: 30px;
    height: 22px; } }

@media (min-width: 768px) {
  .social__link--instagram svg {
    width: 23px;
    height: 23px; } }

@media (min-width: 768px) {
  .social__link--facebook svg {
    width: 13px;
    height: 27px; } }

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0; }

.copyright__text {
  font-size: 16px;
  line-height: 18px;
  font-family: arial, sans-serif; }

.base-catalog__wrapper {
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .base-catalog__wrapper {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .base-catalog__wrapper {
      padding-left: 110px;
      padding-right: 110px;
      max-width: 1440px;
      margin: 0 auto; } }

.base-catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  border-bottom: 1px solid #ebebeb;
  padding-top: 27px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 -20px; }
  @media (min-width: 768px) {
    .base-catalog__title {
      border: none;
      font-size: 60px;
      line-height: 60px;
      margin: 0;
      padding-left: 0;
      padding-right: 0; } }

.base-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .base-catalog__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px; } }
  @media (min-width: 1220px) {
    .base-catalog__list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      -moz-column-gap: 80px;
           column-gap: 80px;
      row-gap: 63px; } }

.base-catalog__item {
  border-bottom: 1px solid #ebebeb;
  margin: 0 -20px; }
  @media (min-width: 768px) {
    .base-catalog__item {
      border: none;
      margin: 0; } }

.product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 25px 20px 25px 20px; }
  @media (min-width: 768px) {
    .product {
      flex-direction: column;
      padding: 8px 38px 40px 38px;
      background-image: linear-gradient(to top, #f2f2f2 430px, #ffffff 430px, #ffffff 511px); } }

.product__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  max-width: 100px;
  margin: 0;
  margin-bottom: 18px; }
  @media (min-width: 768px) {
    .product__title {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      min-width: 145px;
      margin-bottom: 12px; } }

.product__title-link {
  color: #222222; }

@media (min-width: 768px) {
  .product__img {
    width: 324px; } }

@media (min-width: 1220px) {
  .product__img {
    width: 245px; } }

.product__info-block {
  flex-grow: 1; }

.product__info {
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
  list-style: none;
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 16px; }
  @media (min-width: 768px) {
    .product__info {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 32px; } }

.product__info-item {
  display: flex;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .product__info-item {
      border-bottom: 1px solid #cdcdcd;
      padding-top: 7px;
      padding-bottom: 8px; } }

.product__link {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  padding-top: 12px;
  padding-bottom: 11px;
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  width: 100%; }

.more-products {
  padding-top: 80px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .more-products {
      padding-left: 38px;
      padding-right: 38px; } }

@media (min-width: 768px) {
  .more-products__info {
    max-width: 168px;
    margin-left: auto;
    margin-right: auto; } }

.more-products__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  font-weight: 400;
  text-align: center;
  margin: 0; }
  @media (min-width: 768px) {
    .more-products__title {
      font-size: 20px;
      line-height: 22px; } }

.more-products__text {
  font-size: 12px;
  line-height: 16px;
  font-family: arial, sans-serif;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 20px;
  text-align: center; }
  @media (min-width: 768px) {
    .more-products__text {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 87px; } }

.more-products__link {
  text-transform: uppercase;
  color: #444444;
  background-color: #f2f2f2;
  padding: 12px 0;
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 16px; }

.add-catalog {
  overflow: hidden; }

.add-catalog__wrapper {
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .add-catalog__wrapper {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .add-catalog__wrapper {
      padding-left: 110px;
      padding-right: 110px;
      max-width: 1440px;
      margin: 0 auto; } }
  @media (min-width: 1220px) {
    .add-catalog__wrapper {
      display: flex;
      flex-wrap: wrap; } }

@media (min-width: 1220px) {
  .add-catalog__title-block {
    width: 100%; } }

.add-catalog__title {
  margin: 0;
  margin-top: 28px;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  padding-right: 22px;
  display: inline-block;
  position: relative;
  background-color: #ffffff; }
  .add-catalog__title::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100vw;
    height: 2px;
    margin-top: calc(1em / 2 + 2px);
    background-color: #68b738;
    z-index: -1; }
  @media (min-width: 768px) {
    .add-catalog__title {
      padding-right: 36px;
      padding-left: 36px; }
      .add-catalog__title::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 2px;
        margin-top: calc(1em / 2 + 2px);
        background-color: #68b738;
        z-index: -1; } }
  @media (min-width: 768px) {
    .add-catalog__title {
      font-size: 36px;
      line-height: 36px; } }

.add-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 1220px) {
    .add-catalog__list {
      flex-grow: 1;
      max-width: 895px; } }

.add-catalog__item:first-child {
  border-top: 1px solid #cdcdcd; }

.add-catalog__item {
  border-bottom: 1px solid #cdcdcd; }
  @media (min-width: 768px) {
    .add-catalog__item {
      border-left: 1px solid #cdcdcd;
      border-right: 1px solid #cdcdcd; } }
  @media (min-width: 1220px) {
    .add-catalog__item {
      border-left: none;
      border-right: none; } }

@media (min-width: 1220px) {
  .add-catalog__promo {
    margin-left: 80px; } }

.add-product {
  padding-top: 13px;
  padding-bottom: 20px; }
  @media (min-width: 768px) {
    .add-product {
      padding-left: 38px;
      padding-right: 38px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }
  @media (min-width: 1220px) {
    .add-product {
      padding-left: 0;
      padding-right: 0; } }

.add-product__subtitle {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  font-weight: 400;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .add-product__subtitle {
      font-size: 20px;
      line-height: 20px; } }
  @media (min-width: 1220px) {
    .add-product__subtitle {
      min-width: 202px; } }

.add-product__info {
  font-size: 14px;
  line-height: 14px;
  font-family: arial, sans-serif;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .add-product__info {
      font-size: 16px;
      line-height: 20px;
      min-width: 223px; } }
  @media (min-width: 1220px) {
    .add-product__info {
      min-width: 286px;
      margin-left: 82px; } }

@media (min-width: 768px) {
  .add-product__amount {
    min-width: 132px;
    text-align: right; } }

@media (min-width: 1220px) {
  .add-product__amount {
    text-align: left; } }

.add-catalog__item:nth-child(2) .add-product__price {
  padding-right: 8px; }

.add-product__link {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  padding-top: 12px;
  padding-bottom: 11px;
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 16px; }
  @media (min-width: 768px) {
    .add-product__link {
      width: 100%; } }
  @media (min-width: 1220px) {
    .add-product__link {
      max-width: 244px; } }

.promo {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: cover;
  padding-top: 58px;
  padding-bottom: 43px;
  background-color: #68b738; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .promo {
      background-image: url("\a     ../img/gift-photo-mobile@2x.jpg"); } }
  @media (min-width: 768px) {
    .promo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 90px;
      padding-right: 124px;
      background-image: url("../img/gift-photo-tablet@1x.jpg"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .promo {
      background-image: url("../img/gift-photo-tablet@2x.jpg"); } }
  @media (min-width: 768px) and (min-width: 1220px) {
    .promo {
      width: 245px;
      padding-left: 42px;
      padding-right: 42px;
      padding-bottom: 42px;
      display: block;
      background-image: url("../img/gift-photo-desktop@1x.jpg"); } }
  @media (min-width: 768px) and (min-width: 1220px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-width: 1220px) and (min-resolution: 2dppx) {
    .promo {
      background-image: url("../img/gift-photo-desktop@2x.jpg"); } }
  .promo::before {
    content: "";
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    width: 78px;
    height: 80px;
    display: block;
    margin: 0 auto;
    margin-bottom: 48px; }
    @media (min-width: 768px) {
      .promo::before {
        margin: 0; } }
    @media (min-width: 1220px) {
      .promo::before {
        margin: 0 auto;
        margin-bottom: 46px; } }

.promo__text {
  margin: 0;
  text-align: center;
  padding: 0 50px;
  font-family: arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px; }
  @media (min-width: 768px) {
    .promo__text {
      max-width: 161px;
      text-align: left;
      padding: 0; } }
  @media (min-width: 1220px) {
    .promo__text {
      text-align: center; } }

.selection__wrapper {
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .selection__wrapper {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .selection__wrapper {
      padding-left: 110px;
      padding-right: 110px;
      max-width: 1440px;
      margin: 0 auto; } }

.selection__title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 35px;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 400; }
  @media (min-width: 768px) {
    .selection__title {
      font-size: 60px;
      line-height: 60px; } }

.selection__subtitle {
  margin: 0;
  margin-bottom: 40px;
  max-width: 226px;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .selection__subtitle {
      font-size: 20px;
      line-height: 30px;
      max-width: 370px;
      padding-left: 40px; } }
  @media (min-width: 1220px) {
    .selection__subtitle {
      padding-left: 0; } }

form {
  overflow: hidden; }
  @media (min-width: 768px) {
    form {
      padding-left: 40px;
      padding-right: 37px; } }
  @media (min-width: 1220px) {
    form {
      padding-left: 0;
      padding-right: 0; } }

.form__wrapper {
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .form__wrapper {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1220px) {
    .form__wrapper {
      padding-left: 110px;
      padding-right: 110px;
      max-width: 1440px;
      margin: 0 auto; } }

.form__fieldset {
  margin-bottom: 27px; }
  @media (min-width: 768px) {
    .form__fieldset {
      margin-bottom: 72px; } }

.form__fieldset--weight {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 20px;
  margin: 0 -20px;
  margin-bottom: 27px; }
  @media (min-width: 768px) {
    .form__fieldset--weight {
      margin: 0;
      margin-bottom: 70px;
      border-left: 1px solid #d9d9d9;
      border-right: 1px solid #d9d9d9;
      padding: 25px 24px; } }

.form__fieldset-title {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  font-weight: normal;
  margin: 0;
  margin-bottom: 32px;
  padding-right: 22px;
  display: inline-block;
  position: relative;
  background-color: #ffffff; }
  .form__fieldset-title::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100vw;
    height: 2px;
    margin-top: calc(1em / 2 + 2px);
    background-color: #68b738;
    z-index: -1; }
  @media (min-width: 768px) {
    .form__fieldset-title {
      padding-right: 36px;
      padding-left: 36px; }
      .form__fieldset-title::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 2px;
        margin-top: calc(1em / 2 + 2px);
        background-color: #68b738;
        z-index: -1; } }
  @media (min-width: 768px) {
    .form__fieldset-title {
      font-size: 36px;
      line-height: 36px;
      margin-left: -40px;
      margin-right: -40px; } }

.form__fieldset-title--contacts {
  max-width: 205px; }
  @media (min-width: 768px) {
    .form__fieldset-title--contacts {
      max-width: none; } }

.form__fieldset-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.form__fieldset-item + .form__fieldset-item {
  margin-top: 13px; }
  @media (min-width: 768px) {
    .form__fieldset-item + .form__fieldset-item {
      margin-top: 20px; } }

@media (min-width: 1220px) {
  .form__cat-weight-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }

@media (min-width: 1220px) {
  .form__fieldset--cat,
  .form__fieldset--weight {
    width: 47%; } }

@media (min-width: 768px) {
  .form__fieldset--add .form__fieldset-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }

@media (min-width: 768px) {
  .form__fieldset--add .form__fieldset-item {
    margin: 0;
    width: 45%;
    margin-bottom: 30px; } }

@media (min-width: 1220px) {
  .form__fieldset--add .form__fieldset-item {
    width: 20%; } }

@media (min-width: 768px) {
  .form__fieldset--contacts .form__fieldset-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }

@media (min-width: 1220px) {
  .form__fieldset--contacts .form__fieldset-item {
    margin: 0;
    width: 47%; } }

@media (min-width: 768px) {
  .form__submit-block {
    display: flex; } }

.form__submit-button {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  padding-top: 12px;
  padding-bottom: 11px;
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 17px;
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  border: none;
  margin-bottom: 21px; }
  @media (min-width: 768px) {
    .form__submit-button {
      width: 282px;
      font-size: 20px;
      padding-top: 18px;
      padding-bottom: 17px; } }
  @media (min-width: 1220px) {
    .form__submit-button {
      width: 568px; } }

.form__small-text {
  display: block;
  text-align: center;
  font-family: arial, sans-serif;
  color: #000000;
  font-size: 14px;
  line-height: 16px; }
  @media (min-width: 768px) {
    .form__small-text {
      margin-left: 61px;
      padding-top: 16px;
      font-size: 16px; } }
  @media (min-width: 1220px) {
    .form__small-text {
      margin-left: 81px; } }

.radio-field__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
  color: #222222;
  padding-left: 48px;
  padding-top: 6px;
  padding-bottom: 6px;
  display: block; }
  .radio-field__label::before {
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 3px;
    padding: 8px; }
  @media (min-width: 768px) {
    .radio-field__label {
      font-size: 20px;
      line-height: 30px;
      padding-top: 4px;
      padding-bottom: 0;
      padding-left: 63px; }
      .radio-field__label::before {
        width: 40px;
        height: 40px;
        padding: 10px; } }

.radio-field__input {
  display: none; }

.radio-field__input:checked + .radio-field__label::before {
  background-color: #68b738;
  background-clip: content-box; }

.text-field {
  display: flex;
  align-items: center; }

.text-field__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  flex-shrink: 0;
  margin-right: 14px; }
  @media (min-width: 768px) {
    .text-field__label {
      font-size: 20px;
      line-height: 30px; } }

.text-field__input {
  padding: 13px 15px;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7; }
  .text-field__input::-moz-placeholder {
    color: #444444;
    font-family: "Oswald", "Arial", sans-serif; }
  .text-field__input::placeholder {
    color: #444444;
    font-family: "Oswald", "Arial", sans-serif; }
  @media (min-width: 768px) {
    .text-field__input {
      font-size: 20px;
      line-height: 30px;
      padding: 10px 21px; } }

.text-field__input--comment {
  resize: none;
  font-family: "Oswald", "Arial", sans-serif;
  padding-right: 12px;
  min-height: 150px; }
  @media (min-width: 768px) {
    .text-field__input--comment {
      min-height: 174px; } }

@media (min-width: 768px) {
  .checkbox-field {
    width: 45%; } }

.checkbox-field__label {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  display: block;
  padding-left: 48px;
  padding-top: 5px;
  padding-bottom: 7px; }
  .checkbox-field__label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd; }
  .checkbox-field__label::after {
    content: "";
    display: none;
    position: absolute;
    width: 16px;
    height: 10px;
    top: 8px;
    left: 8px;
    border-left: 2px solid #68b738;
    border-bottom: 2px solid #68b738;
    transform: skewY(-5deg) rotate(-45deg); }
  @media (min-width: 768px) {
    .checkbox-field__label {
      font-size: 20px;
      line-height: 30px; }
      .checkbox-field__label::before {
        width: 40px;
        height: 40px; }
      .checkbox-field__label::after {
        top: 13px;
        left: 12px; } }

.checkbox-field__input {
  display: none; }

.checkbox-field__input:checked + .checkbox-field__label::after {
  display: block; }

/*# sourceMappingURL=style.css.map */
